<%- include('./partials/head') %>
<body>
    
    <%- include('./partials/navbar') %>

<div>
    <%= name %>

    
    
      <div class="container-lg">Labas vakaras, <%= locals.name || 'No name' %> <%= locals.surname || 'No name' %> </div>
</body>
</html>